<div class="row col-md-8 col-md-offset-2">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Year</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="student in students">
        <td>
          <span class="glyphicon glyphicon-pencil" ng-click="makeEditable()"></span>

        </td>
        <td ng-class="{'editable': !show}"contenteditable="{{!show}}" ng-model="student.fName"></td>
        <td ng-class="{'editable': !show}"contenteditable="{{!show}}" ng-model="student.lName">{{ student.lName }}</td>
        <td ng-class="{'editable': !show}"contenteditable="{{!show}}" ng-model="student.year">{{ student.year }}</td>
        <td>
          <span class="glyphicon glyphicon glyphicon-remove" ng-show="show" ng-click="deleteStudent(student._id)"></span>
          <span class="glyphicon glyphicon glyphicon-ok" ng-show="!show" ng-click="editStudent(student)"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

